/// @type Color
$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;

$accent-1: #eaeaea;
$accent-2: #f6f6f6;
$accent-3: #353535;
$accent-tertiary: #008766;
$accent-border: #99e2d0;

$white: #fff;
$black: #000;

$icon-1: #7e7e7e;
$icon-2: $primary;

/// @type Gradient
$gradient-1: linear-gradient(193.33deg, $primary -11.44%, $secondary 123.93%);
$gradient-2: linear-gradient(
  193.33deg,
  rgba($secondary, 0.8) -11.44%,
  rgba($primary, 0.8) 123.93%
);
$gradient-button: linear-gradient(
  190deg,
  $primary -12%,
  $secondary 120%,
  $primary -50%,
  $secondary 50%,
);
