.fa-list-ul {
  color: $icon-1;
}

.fa-mobile-screen-button {
  color: $icon-1;
}

.fa-store {
  color: $icon-2;
}

.likeIcon {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  .empty,
  .solid {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
  }
  .empty {
    opacity: 1;
    &:hover {
      opacity: 0;
    }
  }

  .solid {
    opacity: 0;
    background: $gradient-1;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    &:hover {
      opacity: 1;
    }
  }
}

.fa-solid.fa-arrow-left {
  color: $accent-3;
  top: 30px;
  left: 30px;
}
