.location {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    gap: 0.5rem;
    background-color: $accent-1;
    box-shadow: $shadow1;
    color: $accent-3;
    font-size: 16px;
    font-weight: 500;
    height: 50px;
  }