.header {
  &-content {
    box-shadow: $shadow1;
    padding: 1rem 0;
    z-index: 2;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    &--title {
      grid-column: 2/3;
      display: flex;
      justify-content: center;
    }

    &--arrow{
      display: flex;
      align-items: center;
      padding-left: 2rem;
    }
  }
}
