.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: $accent-2;
  &-title {
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    @include respond-to("lg") {
      font-size: 40px !important;
    }
  }
  &-subtitle {
    padding: 0 1rem 1.5rem 1rem;
    text-align: center;
    font-weight: 300;
    color: $accent-3;
    font-size: 18px;
  }
}

.functioning {
  padding: 2rem;
  &-choose {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include respond-to("lg") {
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }
  }
  @include respond-to("lg") {
    margin: auto;
    max-width: 1050px;
  }
}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: $accent-2;
  &-cards {
    @include respond-to("lg") {
      max-width: 1050px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 4.5rem;
      row-gap: 2rem;
    }
  }
  &-title {
    @include respond-to("lg") {
      width: 1050px;
    }
  }
  @include respond-to("lg") {
    align-items: center;
  }
}
